/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
@import url("./css/mainPage.css");
@import url("./css/sideBar.css");
@import url("./css/topBar.css");
@import url("./css/tooltip.css");
@import url("./css/modal.css");
@import url("./css/form.css");
@import url("./css/auth.css");
@import url("./css/navbar.css");
@import url("./css/SplashPage.css");
@import url("./css/buttons.css");
@import url("./css/inputs.css");
@import url("./css/users.css");

:root {
	--yellow1: #ffca3a;
	--yellow2: #feef7b;
	--yellow3: #fea004;
	--red1: #f40004;
	--red2: #fe662b;
	--gray1: #ededed;
	--gray2: #d8d8d8;
	--gray3: rgb(202, 202, 202);
	--gray4: #353535;

	--crown: #ffd754;

	/* Button colors */
	--green: #8ac926;
	--blue: #1982c4;
	--purple: #6a4c93;
}

body {
	background-color: var(--gray1);
	padding: 0;
	margin: 0;
	overflow: hidden;
}

* {
	font-family: "Poppins", "Arial", "Helvetica", sans-serif;
	box-sizing: border-box;
}

button {
	cursor: pointer;
	border: none;
	text-decoration: none;
}

h1 {
	font-family: "Bungee", cursive;
}

ul,
li {
	list-style-type: none;
}

a,
a:hover {
	text-decoration: none;
}

a:hover {
	color: var(--red2);
}

.hidden {
	opacity: 0;
	display: none;
	visibility: hidden;
}

/* Background colors */
.color-red {
	background-color: var(--red1);
}

.color-yellow {
	background-color: var(--yellow1);
}

.color-green {
	background-color: var(--green);
}

.color-blue {
	background-color: var(--blue);
}

.color-purple {
	background-color: var(--purple);
}
