/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("./css/mainPage.css");
@import url("./css/sideBar.css");


:root {
	--yellow: #ffca3a;
	--red: #f40004;
	--gray1: #ededed;
	--gray2: #bababa;
	--gray3: #4f4f4f;
	--gray4: #353535;
}

body {
	background-color: var(--gray1);
	padding: 0;
	margin: 0;
	overflow: hidden;
}

* {
	font-family: "Poppins", "Arial", "Helvetica", sans-serif;

h1 {
  font-family: "Bungee", cursive;
}

* {
  /* --common-font: "ginto-normal", "Whitney", "Helvetica Neue", Helvetica, Arial,
  "Lucida Grande", sans-serif; */
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
}

button {
	cursor: pointer;
	border: none;
	text-decoration: none;
}

ul,
li {
	list-style-type: none;
}

a {
	text-decoration: none;
}
