button {
	cursor: pointer;
	border: none;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	transition: all 0.25s;
}

button:hover {
	background-color: var(--red2);
	color: black;
	border-color: black;
	transform: scale(1.01);
	cursor: pointer;
}

/* Login and Sign-up form buttons */
.form-buttons button {
	background-color: var(--yellow1);
	color: var(--gray4);
	border: none;
	height: 40px;
	width: 100%;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
}

.form-buttons button:hover {
	background-color: var(--red2);
	color: white;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
}

.btn {
	background-color: transparent;
	border-radius: 30px;
	padding: 5px 20px;
	color: black;
	transition: all 0.5s;
}

.btn-yellow {
	background-color: var(--yellow1);
	color: black;
}

.btn-yellow:hover {
	background-color: var(--red1);
	color: white;
}

.btn-gray {
	background-color: var(--gray2);
	color: black;
}
