.channel-bar-friend-btn {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 5px; 
    background-color: var(--gray2);
    box-sizing: border-box;
}

.channel-bar-friend-btn:hover {
    background-color: var(--gray3);
    color: white; 
    border-radius: 15px;
}

.channel-bar-dm-title {
    width: 100%;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}