/* Chat input */

.chat-input-ctrl {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.chat-input {
	border: none;
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	transition: all 0.25s;
}

.chat-input:focus::placeholder {
	color: transparent;
}

/* Chat divs */
.chat-div-wrap,
.chat-div-wrap-empty {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	white-space: nowrap;
	height: calc(100vh - 100px);
}

.chat-div-wrap-empty {
	justify-content: flex-end;
	padding: 10px;
	gap: 10px;
}

.chat-div-ctrl {
	display: grid;
	grid-template-columns: 50px auto;
	padding: 10px;
	gap: 5px;
	width: 100%;
	transition: all 0.25s;
	position: relative;
}
.chat-div-ctrl:hover {
	background-color: var(--gray2);
}

.chat-avatar {
	width: 42px;
	height: 42px;
	border-radius: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-avatar.prv {
	width: 60px;
	height: 60px;
	border-radius: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-message-ctrl {
	display: flex;
	flex-direction: column;
}

.chat-user-wrap {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
}

.chat-username {
	font-size: 14px;
	font-weight: bold;
}

.chat-created-at,
.chat-created-at-short {
	font-size: 10px;
	color: var(--gray3);
}

.chat-created-at-short {
	padding-top: 5px;
}

.chat-edit-delete {
	visibility: hidden;
	position: absolute;
	display: flex;
	flex-direction: row;
	right: 10px;
	top: -10px;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.chat-div-ctrl:hover .chat-edit-delete {
	visibility: visible;
}

.chat-edit-delete-btn {
	width: 30px;
	height: 30px;
	background-color: var(--gray2);
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-edit-delete-btn:hover {
	filter: brightness(95%);
	cursor: pointer;
}

/* Empty chat */

.chat-big-hash-div {
	width: 60px;
	height: 60px;
	border-radius: 60px;
	padding-left: 7px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.chat-big-hash-div.prv {
	width: 60px;
	height: 60px;
	border-radius: 60px;
	padding-left: 0px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.chat-empty-title {
	font-size: 24px;
	font-family: "Open Sans", sans-serif;
}

.chat-empty-desc {
	font-size: 14px;
}

.chat-empty-edit {
	font-size: 14px;
	display: flex;
	gap: 10px;
	align-items: center;
	color: var(--gray3);
	width: fit-content;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.chat-empty-edit:hover {
	background-color: var(--gray2);
}

.chat-start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
	background-size: cover;
}

.chat-start-font {
	font-family: "Calligraffitti", cursive;
	font-size: 32px;
	display: flex;
	align-items: flex-start;
	gap: 10px;
}

.chat-arrow {
	width: 100px;
}
