.select {
	padding: 10px;
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
}

.input-label {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	gap: 5px;
}

.input,
.textarea {
	border: none;
	background-color: var(--gray1);
	padding: 10px;
	border-radius: 3px;
	width: 100%;
}

.input-desc {
	font-size: 10px;
	font-weight: normal;
	color: var(--gray3);
}

.chat-div-input {
	border: 1px solid var(--gray2);
	width: 100%;
	border-radius: 5px;
	padding: 10px;
	color: black;
	background-color: white;
}

.chat-div-input:disabled {
	border: transparent;
	background: transparent;
}
